<div class="category-nav">
  <a href="#" class="category-item">
    <div class="icon bg-primary">
      <i class="bi bi-list"></i>
    </div>
    <span>Categories</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_women.jpg" alt="Women" />
    <span>Women</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_men.jpg" alt="Men" />
    <span>Men</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_girls.jpg" alt="Girls" />
    <span>Girls</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_boys.jpg" alt="Boys" />
    <span>Boys</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_baby.jpg" alt="Baby" />
    <span>Baby</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_shoes.jpg" alt="Shoes" />
    <span>Shoes</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_jewellery.jpg" alt="Jewelry" />
    <span>Jewelry</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_underWear.jpg" alt="Underwear" />
    <span>Underwear</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_accessories.jpg" alt="Accessories" />
    <span>Accessories</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/cat_new_arrival.jpg" alt="New Arrivals" />
    <span>New Arrivals</span>
  </a>
  <a href="#" class="category-item">
    <img src="assets/images/sale_label.jpg" alt="Sale" />
    <span>Sale</span>
  </a>
</div>
