.container {
  padding-top: 20px;
}

.card {
  margin: 10px;
  min-width: 250px;
}

.row.flex-nowrap {
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.row.flex-nowrap::-webkit-scrollbar {
  height: 8px;
}

.row.flex-nowrap::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.row.flex-nowrap::-webkit-scrollbar-track {
  background: #f1f1f1;
}
