<div class="container">
  <div class="row flex-nowrap overflow-auto">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let card of cards">
      <div class="card-slider">
        <div class="card">
          <img src="{{ card.image }}" class="card-img-top" alt="..." />
          <div class="card-body text-center">
            <p class="card-text">{{ card.category }}</p>
            <h5 class="card-title font-bold fs-5">{{ card.title }}</h5>
            <p class="card-price fs-5">{{ card.price }}</p>
            <div class="icons">
              <i class="bi bi-heart"></i>
              <i class="bi bi-bag"></i>
              <i class="bi bi-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
