<div class="container my-3">
  <div class="container mt-5">
    <div class="card-slider">
      <div class="card">
        <img src="assets/images/watch.jpg" class="card-img-top" alt="Watch" />
        <div class="card-body">
          <h5 class="card-title">ACCESSORIES WATCH</h5>
          <p class="card-text">Swiss Watch</p>
          <p class="card-text"><del>$399.00</del> $299.00</p>
          <span class="badge badge-danger">-25%</span>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/belt.jpg" class="card-img-top" alt="Belt" />
        <div class="card-body">
          <h5 class="card-title">ACCESSORIES BELT</h5>
          <p class="card-text">Belt</p>
          <p class="card-text">$25.00</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/jacket.jpg" class="card-img-top" alt="Coat" />
        <div class="card-body">
          <h5 class="card-title">Man Shaggy Coat</h5>
          <p class="card-text">$229.00</p>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/shirt.jpg"
          class="card-img-top"
          alt="Blue Shirt"
        />
        <div class="card-body">
          <h5 class="card-title">Blue Shirt</h5>
          <p class="card-text">$119.00</p>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/jeans.jpg"
          class="card-img-top"
          alt="Blue Shirt"
        />
        <div class="card-body">
          <h5 class="card-title">Blue Shirt</h5>
          <p class="card-text">$119.00</p>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/cat_underWear.jpg"
          class="card-img-top"
          alt="Blue Shirt"
        />
        <div class="card-body">
          <h5 class="card-title">Blue Shirt</h5>
          <p class="card-text">$119.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
